<?xml version="1.0" encoding="ISO-8859-1" ?>

<configuration>
  <header>
    <!-- Meta data about the resulting combined configuration -->
  </header>
  <override>
    <!-- Configuration declarations with override semantics (earlier declarations take priority) -->
    <xml fileName="Beerslaw.xml" basePath="./pattern_mining/lasta/config"/>
<properties fileName="Beerslaw.properties" basePath="./pattern_mining/lasta/config"/>
<configuration fileName="local.config" basePath="./pattern_mining/lasta/config"/>
  </override>
  <additional>
    <!-- Configuration declarations that form a union configuration -->
  </additional>
</configuration>
