<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- This configuration is for adding additional properties files that specify machine/account-specific settings such as database usernames and passwords -->

<configuration>
  <header>
    <!-- Meta data about the resulting combined configuration -->
  </header>
  <override>
    <!-- Configuration declarations with override semantics (earlier declarations take priority) -->
    <properties fileName="local.DB.properties" throwExceptionOnMissing="false"/>
  </override>
  <additional>
    <!-- Configuration declarations that form a union configuration -->
  </additional>
</configuration>
