<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- The primary configuration file indicates the files that fully specify the experiment, including at least a properties file specifying the module parameters and an XML file specifying the modules and their data connections -->
<configuration>
  <header>
    <!-- Meta data about the resulting combined configuration -->
  </header>
  <override>
    <!-- Configuration declarations with override semantics (earlier declarations take priority) -->
    <xml fileName="LASAT.xml" basePath="config"/>
    <properties fileName="LASAT.properties" basePath="config"/>
    <configuration fileName="local.config" basePath="config" throwExceptionOnMissing="false"/>
  </override>
  <additional>
    <!-- Configuration declarations that form a union configuration -->
  </additional>
</configuration>
